*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.button{
    padding: 8px 16px;
    background-color: #3088E8;
    /* border: 1.5px solid #3088E8; */
    color: #fff;
    border-radius: 8px;
    border: 0;
    font-size: 14px;
}

.button:hover{
    background-color: #9DCBFF;
}

.button:active{
    background-color: #0057B8;
}