

.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.hero-video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}