html,
body,
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .main-container{
    padding:0 80px;
    background-color: #fff;
    height: 80px;
} */

.navbar-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}