*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.button{
    padding: 8px 16px;
    background-color: #FFF;
    color: #3088E8;
    border-radius: 8px;
    border: 1.5px solid #3088E8;
    font-size: 14px;
}

.button:hover{
    color: #9DCBFF;
    border: 1.5px solid #9DCBFF;
}

.button:active{
    background-color: #EFF6FF ;
    color: #9DCBFF;
    border: 1.5px solid #9DCBFF;
}